  *{
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    }

    h1, h2, h3, h4, h5, h6 {
        padding-bottom: 1.5rem;
    }

a {
    color: #66b2b2;
    text-decoration: none;
}

    p{
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

    /* ----- Hilfsklassen -----*/

    .standard-container {
        max-width: 100%;
        height: auto;
        margin: auto;
      
    }

.text-highlighted {
    color: #052452;
}

.btn {
    display: block;
    font-size: 1.5rem;
    background-color: #66b2b2;
    color: #052452;
    padding: 1rem 1rem;
    text-align: center;
    border-radius: 5px;
    margin: 1rem 0px;
}

    .btn:hover {
        background-color: #052452;
        color: white;
    }
    /* ----- Navigationsleiste -----*/

#main-nav {
    background-color: #66b2b2;
}

    #main-nav::after {
        content: "";
        display: block;
        clear: both;
    }

    #main-nav h1 {
        font-size: 3rem;
        float: left;
        color: #052452;
        padding-top: 20px;
    }

    #main-nav a {
        color: white;
    }

    #main-nav ul {
        float: right;
        list-style: none;
    }


     #main-nav ul li {
        float: left;
     }

     #main-nav ul li a {
            display: block;
            font-size: 1.5rem;
            padding: 2rem;
            text-align: center;
      }

        #main-nav ul li a:hover {
            background-color: #052452;
            color: white;
            height: auto;
        }

        #main-nav ul li a.active-page {
            background-color: #052452;
            color: white;
            height: auto;
        }



         /* ----- Wilkommens Sektion -----*/

      #welcome {
          background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url(../slike/pozadina.jpg);
          background-repeat: no-repeat;
          background-size: cover;
          min-height: 40rem;
      }

      #welcome::after{
          content: "";
          display: block;
          clear: both;
      }

      #welcome .welcome-content {
          width: 70%;
          color: white;
          padding: 5rem 3rem;
      }

      #welcome .welcome-img{
          width: 25%;
          display: flex;
          justify-content: center;
          align-items: center;
      }

      #welcome .welcome-img img {
          border-radius: 45%;
          width: 18rem;
          height: auto;
          max-width: 100%;
      }

      #welcome .standard-container{
          display:flex;
          align-items:center;
          justify-content:space-between;
      }

      #welcome .welcome-content h2{
          font-size: 2rem;
      }

/* ----- About Sektion -----*/

        #about {
        background-color: #66b2b2;
        padding-top: 3rem;
        padding-bottom: 3rem;
        }

      #about .about-content {
           flex:1;
           color: white;
           padding: 1.5rem;
      }

      #about .about-img {
          flex:0 0 22rem;
      }

      #about .about-img img{
           width: 100%;
           border-radius: 1rem;
           height:auto;
           display:block;
      }

      #about .about-content h2 {
          font-size: 2rem;
      }

      #about .standard-container{
          display:flex;
          align-items:center;
          justify-content: space-between;
          gap:3rem;
      }

/* ----- Skill Sektion -----*/

       #skills {
            padding-top: 2rem;
            padding-bottom: 2rem;
       }

       #skills::after{
           content:"";
           display: block;
           clear: both;
       }

        #skills .skill {
            float: left;
            width: 33.33%;
            text-align: center;
            padding: 2rem;
        }

        #skills .material-symbols-outlined {
            font-size: 7rem;
            color: #052452;
        }
        #skills .marker {
            background: #c8c3b4;
            padding: 0px;
        }

/* ----- Footer -----*/

        #main-footer {
            background-color: #66b2b2;
            min-height: 8rem;
            padding: 3rem;
        }

        #main-footer p {
            text-align: center;
            color: white;
        }

        #main-footer p a {
            color: white;
        }


/* ----- Kontakt -----*/
        
        #contact-options {
            margin-top: -150px;
            padding-bottom: 100px;
        }

        #contact-heading {
            background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url(../slike/pozadina.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            min-height: 500px;
        }

        #contact-heading .heading-content{
            color: white;
            padding: 130px 0px;
        }

        #contact-heading .heading-content h2{
            font-size: 40px;
        }

        #contact-heading .heading-content p {
             font-size: 20px;
        }

        #contact-options .contact-option {
            float: left;
            width: 31.33%;
            margin: 1%;
            text-align: center;
            padding: 35px;
            background-color: #66b2b2;
            min-height: 300px;
            border-radius: 10px;
        }

        #contact-options:after{
            content:"";
            display: block;
            clear: both;
        }

        #contact-options .contact-icon{
            height: 40px;
            width: 40px;
        }

        #contact-options .contact-option h3 {
            color: #052452;
            font-size: 25px;
            padding-top: 15px;
        }
        #contact-options .contact-option p{
            color: white;
           line-height: 1.7em;
        }

/* ----- Datenschutz -----*/


        #daten-heading {
            background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url(../slike/pozadina.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            min-height: 500px;
        }

        #daten-heading .daten-content {
            color: white;
            padding-top: 130px;
            padding-bottom: 50px;
        }

        #daten-heading .daten-content h2 {
            font-size: 40px;
        }

        #daten-heading .daten-content p {
            font-size: 18px;
            padding: 20px;
            line-height: 1.4em;
        }

            #daten-heading .material-symbols-outlined {
                font-size: 100px;
                color: #052452;
                padding: 40px;
            }

/* ----- Impressum -----*/

        #impressum-id {
            background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url(../slike/pozadina.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            min-height: 500px;
        }

        #impressum-id .impressum-content {
            color: white;
            padding-top: 130px;
            padding-bottom: 50px;
        }

        #impressum-id .impressum-content h2 {
            font-size: 40px;
        }

        #impressum-id .impressum-content p {
            font-size: 18px;
            padding: 20px;
            line-height: 1.4em;
        }
        #impressum-id .material-symbols-outlined {
            font-size: 100px;
            color: #052452;
            padding: 40px;
        }

@media (max-width: 768px) {

    #welcome .container {
        flex-direction: column;
        text-align: center;
    }

    #welcome .welcome-img {
        width: 100%;
        margin-top: 2rem;
    }

    #welcome .welcome-content {
        width: 100%;
        padding: 2rem;
    }

        #welcome .welcome-content h2 {
            font-size: 2rem;
        }

        #welcome .welcome-content p {
            font-size: 1rem;
        }
}
@media (max-width:768px) {

    #about .standard-container {
        flex-direction: column;
        text-align: center;
    }

    #about .about-img {
        flex: none;
        width: 80%;
        max-width: 22rem;
    }

    #about .about-content {
        padding: 1rem;
    }
}
